.Messages-title {
    color: gray;
    font-weight: normal;
    font-size: 3em;
    margin-left: 10%;
}

.container-chat-mess {
    display: flex;
    justify-content: space-between;
}

.container-list-chat {
    border-style: ridge;
    /*display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-content: space-around;*/
    margin-left: 10%;
}

.list-chat {
    display: flex;
    /*flex-wrap: wrap; 
    align-content: space-around;*/ 
    flex-direction: column;
    overflow-y: scroll;
    padding: 1%;
    height: 500px;
}

.header-chat {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.chats-name {
    color: black;
    text-align: center;
    margin: 0;
}

.container-chats-fr {
    display: flex;
    justify-content: flex-start;
    padding: 4%;
    margin: 3%;
    border-style: ridge;
}

.chat-icon-text {
    padding: 5%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.mess-container {
    border-style: ridge;
    width: 65%;
    margin-right: 7%;
}

.member {
    border-style: ridge;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 1%;
}

.board-for-messages {
    border-style: ridge;
    width: inherit;
    height: 300px;
    padding: 3%;
    margin: 1%;
    overflow-y: scroll;
}

.sender-line {
    display: flex;
    justify-content: space-around;
}

.field-to-write {
    border-style: ridge;
    margin: 1%;
    font-size: large;
    width: 93%;
    padding: 1%;
}

.div-btn-send {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.btn-send {
    width: 150%;
    height: 75%;
}

.message {
    padding: 1%;
    margin: 1%;
    background-color: lightgreen;
    border-radius: 1em;
}

.name-time {
    font-size: medium;
    font-weight: bold;
    color: blue;
    opacity: 0.8;
}

.name-time span {
    color: darkred;
}

.dialog-chat {
    z-index: 1;
    height: 500px;
    width: 400px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3%;
    display: none;
    flex-direction: column;
}

.cool-p {
    font-size: medium;
    font-weight: bolder;
}


.plus-symbol {
    width: 100px;
    height: 100px;
    position: relative;
}

.horizontal-line, .vertical-line {
    position: absolute;
    background-color: black;
}

.horizontal-line {
    width: 80px;
    height: 10px;
    top: 45px;
    left: 10px;
}

.vertical-line {
    width: 10px;
    height: 80px;
    top: 10px;
    left: 45px;
}  