.tasks {
    color: gray;
    font-weight: normal;
    font-size: 3em;
    margin-left: 10%;
}

.biggest {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

.container {
    border-style: groove;
    height: 500px;
    width: 300px;
}

.title {
    border-style: inherit;
    display: flex;
    justify-content: center;
}

.center {
    overflow-y: auto;
    height: 450px;
}

.newTask {
    border-style: groove;
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 5%;
}