table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    height: 50px;
    /*display: grid;*/
}

table {
    width: 100%;
}

th {
    height: 50px;
    width: 1%;
}

td {
    width: 1%;
    text-align: center;
}

aside {
    margin-top: 100px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

main {
    margin-left: 160px; /* Same as the width of the sidenav */
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    padding: 0px 10px;
}

header {
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content:space-between;
}

.name {
    color: white;
}

.div-img {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-right: 3%;
}

ul {
    margin: auto;
    list-style-type: none;
    height: 150px;
}

li {
    height: 25px;
}

a {
    color: gray;
    text-decoration: none;
}

.div-with-plus {
    display: flex;
    justify-content:space-between;
}

.div-plus {
    /*text-align: center;
    display: block;
    justify-content:center;*/

    margin: auto;
    margin-right: 0%;
    margin-bottom: 1%;
}

.div-with-btns {
    text-align: center;
    margin-top: 5px;
}

.notification {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    position: relative;
    display: inline-block;
    border-radius: 1px;
    margin-right: 0;
}

/*.notification:hover {
    background: red;
}*/

.notification .point {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.point {
    display:none;

    animation-name: not;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes not {
    from{background-color: red;}
    to {background-color: black;}
}

.equalize-imgs {
    margin-top: 15px;
}

.newWindow {
    display: none;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    left: 78%;
    top: 100px;
    width: 19%;
    height: 15%;
    overflow: hidden;
    background-color: white;
    border: 1px solid;
    align-items: center;
}

.profile {
    display: none;
    position: fixed;
    z-index: 1;
    left: 88%;
    top: 100px;
    width: 8%;
    height: 7%;
    overflow: hidden;
    background-color: white;
    color: black;
    border: 1px solid;
    padding-bottom: 1%;
}

.dialog {
    z-index: 1;
    height: 500px;
    width: 400px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3%;
}

.dialog-header > div {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 3%;
}

.dialog-header {
    border-bottom: 3px solid gray;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.dialog-footer {
    border-top: 3px solid gray;
    display: flex;
    justify-content: right;
}

.btn-in-footer-diag {
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

select {
    width: 60%;
    position: relative;
    font-size: large;
}

.input-dialog {
    width: 58%;
    font-size: large;
}

.p-dialog {
    font-size: large;
}

.edit, .delete {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.warning {
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3%;
    width: 400px;
    height: 200px;
}

.warning-header {
    border-bottom: 3px solid gray;
}

.warning-header > div {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 3%;
}

.status {
    background-color: green;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
}