<dialog class="dialog">
    <div class="dialog-header">
        <div>
            <h3>Add student <input type="checkbox" id="checkingkBox"></h3>
            <button style="margin-top: 0; height: 5%;">&#215;</button>
        </div>
    </div>
    <div>
        <div class="section">
            <p class="p-dialog">Group</p>
            <select id="Group">
                <option value="0">Select Group</option>
                <option value="PZ-23">PZ-23</option>
                <option value="PZ-21">PZ-21</option>
                <option value="PZ-22">PZ-22</option>
                <option value="PZ-24">PZ-24</option>
                <option value="PZ-25">PZ-25</option>
                <option value="PZ-26">PZ-26</option>
            </select>
        </div>
        <div class="section">
            <p class="p-dialog">First name</p>
            <input type="text" class="input-dialog">
        </div>
        <div class="section">
            <p class="p-dialog">Last name</p>
            <input type="text" class="input-dialog">
        </div>
        <div class="section">
            <p class="p-dialog">Gender</p>
            <select id="Gender">
                <option value="0">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="section">
            <p class="p-dialog">Birthday</p>
            <input type="date" class="input-dialog" style="padding-top: 5%;" max="2006-12-31" min="1950-01-01">
        </div>
    </div>
    <div class="dialog-footer">
        <div class="btn-in-footer-diag">
            <div style="padding-right: 25%;">
                <button>Ok</button>
            </div>
            <div>
                <button id="cancel">Cancel</button>
            </div>                
        </div>
    </div>
</dialog>