<dialog class="warning">
    <div class="warning-header">
        <div>
            <h3>Warning</h3>
            <button style="margin-top: 2%; height: 5%;">&#215;</button>
        </div>
    </div>
    <div style="text-align: center; display: block;">
        <h4 style="margin: 10%;">Are u sure u want to delete user?</h4>
    </div>
    <div class="dialog-footer">
        <div class="btn-in-footer-diag">
            <div style="padding-right: 25%;">
                <button id="wnOK">Ok</button>
            </div>
            <div>
                <button id="cancel2">Cancel</button>
            </div> 
        </div>
    </div>
</dialog>