<div>
    <div>
        <p>Введіть ім'я</p>
        <input type="text" id="nameForm">
    </div>
    <div>
        <p>Введіть пароль</p>
        <input type="password" id="passwordForm">
    </div>
</div>
<div style="margin-top: 1%; width: 15%; 
    display:flex; justify-content: space-between;">
    <input type="submit" id="btnForm">
    <input type="submit" id="btnSignUp" value="Зареєстуватися">
</div>